@{
    Layout = null;
}

<div  style="display: inline-block; width: 200px;padding: 50px 50px 50px 50px">
    <p style="; font-size:20px">
        Hunter
        היא אפליקציה ידידותית אשר מטרתה לעזור למשתמשים למצוא דירות בצורה פשוטה
        על ידי יצירת התראה, חיפוש ממוקד וללא כל צורך בחיפוש חוזר.

        האפליקציה מתבססת על הודעות המתפרסמות בקבוצות הפייסבוק,
        המנוע קורא את ההודעה שהתפרסמה ויודע כיצד לקטלג אותה על פי פרמטרים של
        מיקום הנכס, מחיר, גודל, מספר חדרים, דירות שותפים, סאבלט ותוספות נוספות.
    </p>
</div>
<div class="hero-unit" style="padding: 0 0 0 0; display: inline">
    <img src="Content/images/logo-512.png" style="margin-right: 350px; width: 380px;"></img>
</div>


