[selected=false]{
    cursor: pointer; 
    display: inline;
}
[selected=true]{
    cursor: pointer; 
    display: inline;
    border-style: solid; 
    border-width: 2px;
}
#barItem, #productNameBar, #prefixProductNameBar, 
#suffixProductNameBar, #colorBar, #companyNameBar, 
#prefixCompanyNameBar, #suffixCompanyNameBar, #conditionBar,
#materialBar{
    border-style: solid;
    padding: 2px;
    margin: 0px;
    cursor: pointer;
}
#productNameBar, #prefixProductNameBar, #suffixProductNameBar {
    background-color: orange;   
}
#companyNameBar, #prefixCompanyNameBar, #suffixCompanyNameBar {
    background-color: yellow; 
}
#colorBar{
   background-color: red; 
}
#materialBar{
    background-color: #00FF99;
}
#conditionBar{
    background-color: #9999FF;
}
