@{
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="Scripts/old/jstree/themes/default/style.css" />
    <script src="Scripts/old/jstree/libs/jquery.js"></script>
    <script src="Scripts/old/jstree/jstree.js"></script>
    <link rel="stylesheet" type="text/css" href="Content/old/mystyles.css" media="screen" />
    <script src="Scripts/old/login.js"></script>

    <script>

    </script>

</head>

<body style="">

    <h2>Login</h2>
    <input id='username' type="text"></input>
    <br />
    <input id='password' type="password"></input>

    <div id='submit' onclick='login()' style='background-color: Blue;max-width: 100px;color: White;padding-left: 50px;'>Login</div>

</body>
</html>
